$pagewidth: 960px;
$light-grey: #fafafa;
// $blue: rgb(85, 134, 230);
$blue: rgb(17, 132, 206);
$dark-grey: darken($light-grey, 70%);
$grey: darken($light-grey, 20%);


body {
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

header {
  width: 100%;
  background-color: $blue;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 7px $dark-grey;

  a {
    color: $light-grey;
  }
}

.header-wrapper {
  padding: 20px;
}

a {
  color: $blue;
  text-decoration: none;
}

.clearfix {
  clear: both;
}

.page-wrapper {
  width: $pagewidth;
  padding: 20px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.package-separator, .path-separator {
  display: inline-block;
  margin: 0 5px;
}

.package-name {
  width: 70%;
}

.package-versions {
  width: 30%;
}

.box {
  // background-color: $light-grey;
  border: 1px solid darken($light-grey, 20%);
  border-radius: 5px;
  // box-shadow: 0px 2px 5px $grey;
}

.box-element {
  border-top: 1px solid darken($light-grey, 10%);
}

.box-header {
  background-color: $light-grey;
  text-align: center;
}

.file-name {
  display: inline-block;
  width: 90%;
}

.elm .file-name {
  width: 75%;
  display: inline-block;
}

.elm .icon {
  float: left;
}

.repl-link, .debug-link {
  padding: 0 5px;
  color: darken($light-grey, 20%);
  float: right;
}

.repl-link:hover, .debug-link:hover {
  text-decoration: underline;
}

.display {
  display: block;
  overflow: hidden;
  padding: 7px 12px;
}

.display.element {
  @extend .box-element;
}

.folder.view {
  @extend .box;
  width: 600px;
}

.packages.view {
  @extend .box;
  width: 300px;

}

.left {
  float: left;
}

.right {
  float: right;
}

.icon {
  padding: 2px 0;
}

.icon.left {
  padding-right: 5px;
}

.icon.right {
  padding-left: 5px;
}
